doctype html
html(lang="en")
    include head
    body
        include header
        .container
            .menu.animated.fadeInUp
                include menu
            .messages
                include messages
            .content.dashboard
                block content
        include footer
        include foot
