head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width,initial-scale=1")

    title!= title + " | MyCPFApp"
    link(rel="icon" href="public/assets/icon.png")
    meta(name="keywords", content="")
    meta(name="description", content="")

    block head
        link(rel="stylesheet", type="text/css", href="animate.css/animate.css")
        link(rel="stylesheet", type="text/css", href="font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", type="text/css", href="public/styles/fonts/opensans.css")
        link(rel="stylesheet", type="text/css", href="public/styles/fonts/amatic-lobster.css")
        link(rel="stylesheet", type="text/css", href="public/styles/header/header.css")
        link(rel="stylesheet", type="text/css", href="public/styles/menu/menu.css")
        link(rel="stylesheet", type="text/css", href="public/styles/dashboard/dashboard.css")
        link(rel="stylesheet", type="text/css", href="public/styles/styles.css")
