header.top-header{
    height: 60px;
    text-align: center;
    background: #515151;
    z-index: 99;
}

.top-header .content-header{
    position: relative;
    height: 50px;
    margin: 5px 0;
}

.top-header .content-header a{
    font-size: 3em;
    text-decoration: none;
}

.top-header .content-header a i{
    color: white;
}

.top-header .content-header a img{
    height: 40px;
}
