extends ../default
block content
    form#validateCPF(action="/validate-cpf", method="POST")
        input#cpf(type="text", maxlength="11", name="cpf", placeholder="Valid your CPF")
        button#button-validate-cpf(class="animated fadeIn")
            i.fa.fa-chevron-right(aria-hidden="true")
        span#loadBar
