body {
	color: white;
	font-family: 'robotoregular';
	margin: 0;
	background: url("../assets/background/image.png") no-repeat center left fixed;
    font-family: 'Amatic SC', cursive;
}


.content{
	width: 50%;
	margin: 6.25% auto;
	text-align: center;
	display: table;
}

.content .title{
	margin: 0 0 1em 0;
    font-size: 3.5em;
}

.form-control{
	margin: 0;
    width: 50%;
    float: left;
    text-align: left;
    font-size: 1.5em;
}

.form-control form{
    width: 150px;
}

.form-control input{
    width: 140px;
    border: 1px darkcyan solid;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border-radius: .3rem;
}

.form-control .button-cadaster{
    color: white;
    width: auto;
    float: right;
    padding: 5px 10px;
    margin: 5px 0;
    font-family: 'Open Sans';
    background: darkcyan;
    border: 1px teal solid;

}
