body {
	color: white;
	margin: 0;
	background: url("../assets/background/image.png") no-repeat center left fixed;
    font-family: 'Amatic SC', cursive;
}

i{
    font-style: normal;
}

hr{
    border-style: solid;
}

.content{
	width: 50%;
	margin: 6.25% auto;
	text-align: center;
	display: table;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.container{
    margin: 60px 0;
}
